body {
	background-color: #f1f1f1 !important;
}
.error{
    background: rgb(255, 81, 0);
    height: 27px;
    text-align: center;
    color: #fff;
    /* display: none; */
}
.success{
    background: rgb(11, 163, 19);
    height: 27px;
    text-align: center;
    color: #fff;
}
.navbar-brand,.nav-item .nav-link{
    color: #fff !important;
}
.bg_img{
    background: url('../bg_image/1206101.jpg');
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}
.form_part {
    box-shadow: 1px 1px 10px rgb(126, 133, 64);
	height: 295px;
    padding: 5px 0;
}
.reg p {
	margin-top: 60px !important;
    font-size: 14px;
}
input:focus{
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
.side {
	background: #fff;
	height: 464px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}
.dash_h{
    border-bottom: 2px solid rgb(102, 96, 136);
    padding: 8px 0 12px;
    margin-bottom: 20px;
    color: blueviolet;
}
.s_nav{
    width: 100%;
}
.s_nav .nav-item{
    border-bottom: 1px dashed rgb(197, 194, 194);

}
.s_nav .nav-item:first-child{
    border-top: 1px dashed rgb(197, 194, 194);
}
.s_nav .nav-item .nav-link{
    color: blueviolet !important;
}
.s_nav .nav-item .nav-link:hover{
    background: #f1f1f1;
}
.image{
    background: url("../bg_image/2982449.jpg") no-repeat center;
    background-size: cover;
    height: 150px;
    width: 100%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.363);
    margin-bottom: 50px;
}
.s_img{
    height: 400px;
    /* width: 100%; */
}
.t_menu .nav-item .nav-link:hover{
    background: #4259c2;
}
option{
    width: 100% !important;
}
#box{
    display: none;
}
.date{
	width: 32% !important;
}
.t_side {
	background: #fff;
	height: 420px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}
textarea {
	overflow: auto;
	resize: none !important;
}


